
@{
    ViewBag.Title = "Index";
}

<h2>Usuarios registrados</h2>

<table>
    <tr>
        <th>Email</th>        
    </tr>
    @foreach (var item in ViewBag.USUARIOS) {
    <tr>
        <td>@item.Email</td>       
    </tr>
    }
</table>

